<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1>{{recipe}}</h1>

    {{recipe.title}}


    {% for ingItem in ingredientItems %}
    <div>{{ingItem.ingredient.name}}</div>
    {% endfor %}

    {% for utensItem in utensilItems %}
    <div>{{utensItem.utensil.name}}</div>
    {% endfor %}

</body>
</html>