{% extends 'base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .mySlides {display:none}
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
</style>


<section class="view-recipe">
    <div class="container-fluid">
        <div class="row py-5">
        <form method="post">
            <input type="submit" value="APPROVE IT" class="btn">
        </form>
    </div>
    </div>
</section>

<section class="view-recipe">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-12 col-lg-6 show px-5">
                <h1 class="heading mt-5 mb-3">
                    {{recipe.title}}
                </h1>
                <div class="review">
                    <div class="rate">
                        {% for count in rating_count %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                        <a href="#comments">{{comments|length}} Comments</a>
                    </div>
                </div>

                <div class="w3-content w3-display-container" style="max-width:800px">
                    <iframe class="w-100 image mySlides" width="420" height="315"
                    src="{{recipe.video_url}}">
                    </iframe>
                    {% for image in images %}
                    <img class="w-100 image mySlides" src="{{ image.image.url }}">
                    {% endfor %}
                    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                      <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                      <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                      {% for image in images_length_iterator %}
                      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv({{forloop.counter}})"></span>
                      {% endfor %}
                    </div>
                  </div>

                <div class="row text-center my-4 sec">
                    <div class="col-4">
                        <p>{{recipe.get_difficulty}}</p>
                    </div>
                    <div class="col-4">
                        <p>{{recipe.get_cost}}</p>
                    </div>
                    <div class="col-4">
                        {% with recipe.total_preparation_time as total_time %}
                            {% if total_time %}
                                {% if total_time.hour %}
                                <p>{{total_time.hour}} hour{% if total_time.hour > 1 %}s{% endif %}</p>
                                {% endif %}
                                {% if total_time.minute %}
                                <p>{{total_time.minute}} minute{% if total_time.minute > 1 %}s{% endif %}</p>
                                {% endif %}
                            {% else %}
                                <p>-</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="heading">Number of Dishes</p>
                    <input type="number" id="addmem" value="1" min="1" max="100" />
                </div>
                <div class="products mb-5 text-center">
                    <h1 class="mb-5">
                        <span>
                            Ingredient
                        </span>
                    </h1>
                    <div class="row">
                        {% for ingredientItem in ingredientItems %}
                        <div class="col-12 col-lg-3">
                            <img src="{{ingredientItem.ingredient.image.url}}" class="img">
                            <br>
                            <span name="ingredientItem-quantity">{{ingredientItem.quantity}}</span>
                            <span name="ingredientItem-unit">{{ingredientItem.unit}}</span>
                            <span name="ingredientItem-name">{{ingredientItem.ingredient.name}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="products mb-5 text-center">
                    <h1 class="mb-5">
                        <span>
                            Utensils
                        </span>
                    </h1>
                    <div class="row">
                        {% for utensilItem in utensilItems %}
                        <div class="col-12 col-lg-3">
                            <img src="{{utensilItem.utensil.image.url}}" class="img">
                            <br>
                            <span name="utensilItem-quantity">{{utensilItem.quantity}}</span>
                            <span name="utensilItem-name">{{utensilItem.utensil.name}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="products mb-5">
                    <h1 class="mb-5 text-center">
                        <span>
                            Steps/Description
                        </span>
                    </h1>
                    <div class="row">
                        <p>
                            {{recipe.description}}
                        </p>
                    </div>
                    <h1 class="mb-5 text-center">
                        <span>
                            Preparation
                        </span>
                    </h1>
                    <div class="row time text-center">
                        <p class="head heading">
                            Total Time: <span style="font-weight: 400;">
                                {% with recipe.total_preparation_time as total_prep_time %}
                                {% if total_prep_time %}
                                    {% if total_prep_time.hour %}
                                    {{total_prep_time.hour}} hour{% if total_prep_time.hour > 1 %}s{% endif %}
                                    {% endif %}
                                    {% if total_prep_time.minute %}
                                    {{total_prep_time.minute}} minute{% if total_prep_time.minute > 1 %}s{% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            </span>
                        </p>
                        <div class="col-12 col-lg-4">
                            <p class="heading">
                                Preparation:
                            </p>
                            <p id="preparation">
                                {% with recipe.preparation_time as prep_time %}
                                {% if prep_time %}
                                    {% if prep_time.hour %}
                                    {{prep_time.hour}} hour{% if prep_time.hour > 1 %}s{% endif %}
                                    {% endif %}
                                    {% if prep_time.minute %}
                                    {{prep_time.minute}} minute{% if prep_time.minute > 1 %}s{% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            </p>
                        </div>

                        <div class="col-12 col-lg-4">
                            <p class="heading">
                                Rest:
                            </p>
                            <p id="rest">
                                {% with recipe.rest_time as rest_time %}
                                {% if rest_time %}
                                    {% if rest_time.hour %}
                                    {{rest_time.hour}} hour{% if rest_time.hour > 1 %}s{% endif %}
                                    {% endif %}
                                    {% if rest_time.minute %}
                                    {{rest_time.minute}} minute{% if rest_time.minute > 1 %}s{% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}                 
                            </p>
                        </div>

                        <div class="col-12 col-lg-4">
                            <p class="heading">
                                Cooking:
                            </p>
                            <p id="cooking">
                                {% with recipe.cooking_time as cooking_time %}
                                {% if cooking_time %}
                                    {% if cooking_time.hour %}
                                    {{cooking_time.hour}} hour{% if cooking_time.hour > 1 %}s{% endif %}
                                    {% endif %}
                                    {% if cooking_time.minute %}
                                    {{cooking_time.minute}} minute{% if cooking_time.minute > 1 %}s{% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include '../codeSnippets/footer.html' %}

<script>
    $(document).ready(function(){
    $("input[type='radio']").click(function(){
    var sim = $("input[type='radio']:checked").val();
    //alert(sim);
    if (sim<3) { $('.myratings').css('color','red'); $(".myratings").text(sim); }else{ $('.myratings').css('color','green'); $(".myratings").text(sim); } }); });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
<script>
    $("#addmem").inputSpinner()
</script>


<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function currentDiv(n) {
      showDivs(slideIndex = n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
      }
      x[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " w3-white";
    }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


{% endblock content %}